.movie-item{
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}
.movie-item span{
    text-transform: uppercase;
}
.movie-item a{
    color: #fff;
}
.top-movie{
    margin-top: 20px;
    border-radius: 10px;
}