<div class="movie-detail">
        <div class="content-container">
        <div class="img-container" [ngStyle]="{'background-image': 'url(' + movieModel.img_bg + ')'}"></div>
        <div class="blur"></div>
            <div class="movie-info">
                <div class="row">
                    <div class="col-sm-4 movie-img" >
                         <img class="img-fluid" [src]="movieModel.img_src" />
                    </div>
                   
                    <div class="col-sm-7">
                        <div class="movie-content">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td style='text-transform: uppercase;'>Title:</td>
                                    <td style='color:chartreuse; font-weight: bold;'>{{movieModel.title}}</td>
                                </tr>
                                <tr>
                                    <td style='text-transform: uppercase;'>Description:</td>
                                    <td>{{movieModel.description}}</td>
                                </tr>
                                <tr>
                                    <td style='text-transform: uppercase;'>Release Date:</td>
                                    <td>{{movieModel.release_date}}</td>
                                </tr>
                                <tr>
                                    <td style='text-transform: uppercase;'>Genres:</td>
                                    <td><span *ngFor="let item of movieModel.genres" class="genres-item">{{item}}</span></td>
                                </tr>
                                <tr>
                                    <td style='text-transform: uppercase;'>IMDB:</td>
                                    <td style='color:darkorange'>[{{movieModel.imdb}}] 
                                        <br/>
                                        <rating [(ngModel)]="movieModel.imdb"
                                            [max]="10"
                                            [readonly]="true"
                                            [titles]="['one', 'two', 'three', 'four', 'five']">
                                        </rating>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div> 
</div>